.video-player {
  &__controls {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
  }

  &__button {
    display: block;
    min-width: 64px;
    min-height: 64px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    border-radius: 10px;
    background-position: center center;
    transition: background-size .1s;
    padding: 2px;

    &:hover {
      background-size: 90%;
    }

    &.roll {
      background-image: url('./assets/arrows-inside.png');
    }

    &.unroll {
      background-image: url('./assets/arrows-outside.png');
      transform: rotate(90deg);
    }

    &.play {
      background-image: url('./assets/arrow-right.png');
    }

    &.pause {
      background-image: url('./assets/pause.png');
    }
  }
}
